<div class="card mb-4" >
  <div class="card-body">
    <h1 class="fs-4"> <%= @user.name %>'s Profile</h1>
    <p class="text-muted">E-mail address: <%= @user.email %></p>
  </div>
</div>
    
<%= render 'posts/posts' %>
