
<div class="pt-5 h-100 d-flex justify-content-center">

    <div class="error">
        <h1 class="text-primary ">500 Internal Server Error</h1>
        <h2>Sorry, unexpected errors.<h3>
        <p class="alert fs-6 ">
            We are working on fixing the problem. Be back soon. 
        </p>

    </div>
</div>