<div class="p-5 h-100 d-flex justify-content-center">

    <div class="error">
        <h1 class="text-primary ">404</h1>
        <h2>Ooops! You were not supposed to see this.<h3>
        <p class="alert fs-6 ">
            The page you are looking for no longer exists. <br/> Return to the <%= link_to "Homepage", root_path %> </p>

    </div>
</div>