<% @posts.order(created_at: :desc).each do |post| %>
  <%= render 'posts/single', post: post %>
<% end %>
<% if @posts.count == 0%>
<div class="card" >
  <div class="card-body" >
    <span class="fs-1">No post found!</span>
  </div>
</div>
<% end %>