<div class="card mb-3 tile rounded " >
 
    
   <%= link_to(post_path post) do %>
   <div class="square  rounded shadow-sm" style="background-image: url(<%= post.image.url %> )" ></div>
   <% end %>

</div>