<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      html,body{
          background-color: #f1f1f1;
          height: 100%;
          padding: 50px;
      }
      .card{
        width: 400px;
      }
      .card-body{
          padding:16px;
          background:white;
        }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
